* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff: 'DM Sans', sans-serif;
  --fs-header1: 3.4rem;
  --lh-header1: 4.4rem;
  --fs-subtitle: 1.4rem;
  --lh-subtitle: 2.1rem;
  --fs-title: 3rem;
  --lh-title: 3.9rem;
  --fs-titleCard: 2.4rem;
  --lh-titleCard: 3.1rem;
  --fs-headerP: 1.8rem;
  --lh-headerP: 2.7rem;
  --fs-button: 1.4rem;
  --lh-button: 1.8rem;
  --fs-headerCard: 4.8rem;
  --lh-headerCard: 6.2rem;
  --fs-texting: 1.6rem;
  --lh-texting: 2.4rem;
  --color-title: hsla(210, 11%, 15%, 1);
  --color-principal: hsla(170, 100%, 26%, 1);
  --color-texting: hsla(210, 9%, 31%, 1);
  --color-cardbg: hsla(39, 100%, 97%, 1);
  --color-bg: hsla(148, 23%, 89%, 1);
  --color-desk1: hsla(180, 14%, 97%, 1);
  --color-desk2: hsla(39, 100%, 97%, 1);
  --color-desk3: hsla(0, 0%, 100%, 1);
}
body {
  font-size: 1.6rem;
  font-family: var(--ff);
  width: auto;
  height: 517rem;
}
.page {
  width: 37.5rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  padding: 2.7rem 2.4rem;
}
header svg:nth-child(2):hover {
  cursor: pointer;
}
.hero {
  height: 108rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg);
  padding: 4rem 2.4rem;
}
.hero h3 {
  font-size: var(--fs-subtitle);
  line-height: var(--lh-subtitle);
  color: var(--color-principal);
  letter-spacing: 0.08em;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.hero h1 {
  font-size: var(--fs-header1);
  line-height: var(--fs-header1);
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 700;
}
.hero p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--color-texting);
  text-align: center;
  margin-bottom: 3.2rem;
}
.hero img {
  margin: 0 0 -2rem;
}
button {
  border-style: none;
  width: 26.3rem;
  height: 5.2rem;
  border-radius: 4rem;
  padding: 1.6rem 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--color-principal);
  margin-bottom: 6rem;
}
button:hover {
  cursor: pointer;
  background-color: hsla(170, 100%, 14%, 1);
}
.info {
  width: 327px;
  min-height: 470px;
  border: 1px solid #dce9e2;
  border-radius: 6px;
  background: var(--color-cardbg);
  padding: 4rem 0;
}
.info h1 {
  font-size: var(--fs-headerCard);
  line-height: var(--lh-headerCard);
  font-weight: 700;
  margin: 0;
}
.info p {
  font-size: var(--fs-texting);
  line-height: var(--lh-texting);
  color: var(--color-principal);
  margin-bottom: 6rem;
}
main .desk1 {
  min-height: 203rem;
  background-color: var(--color-desk1);
  padding-top: 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.desk1 h3 {
  font-size: var(--fs-subtitle);
  line-height: var(--lh-subtitle);
  font-weight: 700;
  color: var(--color-principal);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.desk1 h2 {
  width: 31.4rem;
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  color: var(--color-title);
  font-weight: 700;
  text-align: center;
  margin: 0 auto 2.8rem;
}
.card {
  width: 327px;
  height: 207px;
  background-color: white;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dce9e2;
  border-radius: 6px;
}
.card h2 {
  font-size: var(--fs-titleCard);
  line-height: var(--lh-titleCard);
  font-weight: 700;
  text-align: start;
  margin: 1.6rem 0;
}
.card p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-texting);
  font-weight: 400;
  text-align: justify;
}
main .desk2 {
  padding: 10rem 2.4rem;
  min-height: 96.9rem;
  background-color: var(--color-desk2);
}
.desk2 h3 {
  font-size: var(--fs-subtitle);
  line-height: var(--lh-subtitle);
  color: var(--color-principal);
  font-weight: 700;
  letter-spacing: 0.08em;
  margin-bottom: 1.6rem;
}
.desk2 h2 {
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  color: var(--color-title);
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.desk2 p {
  font-size: var(--fs-texting);
  line-height: var(--lh-texting);
  color: var(--color-texting);
  text-align: justify;
  font-weight: 400;
  margin-bottom: 6rem;
}
main .desk3 {
  padding: 10rem 2.4rem;
  min-height: 73.5rem;
  background-color: var(--color-desk3);
}
.desk3 h2 {
  width: 29.7rem;
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  color: var(--color-title);
  font-weight: 700;
  margin-bottom: 3.4rem;
}
.desk3 .adress {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 1.6rem;
}
.desk3 .adress:nth-child(3) {
  margin-bottom: 3.2rem;
}
.desk3 p {
  font-size: var(--fs-texting);
  line-height: var(--lh-texting);
  color: var(--color-texting);
}
footer {
  min-height: 28.5rem;
  color: var(--color-desk2);
  background-color: var(--color-principal);
  padding: 6rem 2.4rem;
}
footer svg:nth-child(1) {
  margin-bottom: 2.4rem;
}
footer p {
  font-size: var(--fs-texting);
  line-height: var(--lh-texting);
  margin-bottom: 3.2rem;
}
footer svg:nth-child(3),
svg:nth-child(4) {
  margin-right: 3.2rem;
}
